<p>
  <%= form.label :commenter %><br>
  <%= form.text_field :commenter, class: "form-control mb-2"  %>
</p>
<p>
  <%= form.label :body %><br>
  <%= form.text_area :body, class: "form-control mb-2" %>
</p>
<p>
  <%= form.submit %>
</p>