
<div class="border border-gray-300 row py-2 justify-content-center align-items-center">
  <div class="col-1">
    <div class="block" data-controller="user-toggle">
      <%= form_with(model: article, class:"text-lg inline-block my-3 w-72") do |form| %>
      <%= form.check_box :completed,
                    data: {
                      id: article.id,
                      action: "user-toggle#toggle",
                      id: article.id
                    },
                    class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %>
        
      <% end %>
    </div>
  </div>
  <div class="col-2"><%= article.id %></div>
  <div class="col-3 text-capitalize"  data-controller="user-click" data-user-click-target="name" data-action="click->user-click#getArticleName"><%= article.name %></div>
  <div class="col-3"><%= article.article_type %></div>
  <div class="col-3 d-flex">
    <%= link_to "View", article, data: { turbo_frame: "index_page" }, class: "text-secondary mx-1"%>
    <%= link_to "Edit",  edit_article_path(article),data: { turbo_frame: "index_page" },class: "text-secondary mx-1"%>
    <%= button_to 'Delete', article_path(article), method: :delete,data: { turbo_frame: "index_page" }, class: 'link-style-button mx-1' %>
  </div>
</div>
